html {
  scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    z-index: -1;
}

.pagenavigation a {
    text-decoration: none;
    
}
/* --------------------header sektion start ------------------------- */

.logo {
    width: 150px;
    height: auto;
    padding-top: 15px;
    padding-left: 15px;
}

.navbar {
    width: 100%;
    height: 110px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    position: relative;


}
.navigation {
    color: black;
    text-align: center;
    font-size: 23px;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-top: -90px;
}


.main-nav li {
    float: left;
}

.main-nav li a {
    display: flex;
    justify-content: flex-end;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
    color: inherit;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    padding-top: 35px;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    left: 0;
}

.dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.haschildren:hover .dropdown {
    display: block;
}

.haschildren {
    position: relative;
    
}


.hero-container {
    background-color: #f5fafd;
    width: 100%;
    height: 600px;
    z-index: -1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    background-image: url(../images/Nuuii-hjul.JPG);
    width: 410px;
    height: 400px;
    background-size:cover;
}

.header-main {
    font-family: 'Poppins', sans-serif;
    color: #438C8C;
    text-align: center;
    margin-bottom: 30px;

}
/* -------------------- page navigation --------------------------- */
.pagenavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagenavigation a {
    padding: 20px;
    background-color: #438C8C;
    border-radius: 30px;
    color: white;
    margin: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.cta1 {
    
}

/* --------------------header sektion slut --------------------------- */
/* ----------------- Ressourcer sektion start ------------------------ */

.ress-sektion {
    background-image: url(../images/Hero2.jpg);
    width: 100%;
    height: 800px;
    background-size: contain;
    background-position: 100%
}

.ress-hero {
    
}

.ress-tekst {
    display: block;
    margin-left: 100px;
    padding: 30px;

}

.ress-h1 {
    font-family: 'Poppins', sans-serif;
    color: #438C8C;
    font-size: 60px;
    
}

.ress-h3 {
    font-family: 'Poppins', sans-serif;
    color: #438C8C;
    width: 320px;
    font-size: 13px;
}

.ress-p {
    font-family: 'Poppins', sans-serif;
    width: 400px; 
    padding-top: 20px;
    font-size: 18px;
}

.vandhane {
    width: 800px;
    float: right;
    margin-top: -480px;
}

/* --------------------ressourcer slut --------------------------- */
/* --------------------Produktion start --------------------------- */

.prod-sektion {
    background-color: #f5fafd;
    width: 100%;
    height: 600px;
    background-size: cover;
}

.prod-hero {
    height: 600px;
    width: 100%;
    
}

.prod-tekst {
    font-family: 'Poppins', sans-serif;
    width: 400px;
    position: absolute;
    display: block;
    right: 80px;
    margin-top: 200px;
    color: #438C8C;
}
.produktionpic {
    width: 80%;
    height: 750px;
    object-fit: cover;
    margin-top: -387px;
    margin-left: 100px;
}

/* --------------------Produktion slut --------------------------- */
/* --------------------Distribution start --------------------------- */
.distrib-sektion {
    width: 100%;
    height: 600px;
    background-color: #f5fafd;
}

.distrib-tekst {
    font-family: 'Poppins', sans-serif;
    color: #438C8C;

}

/* --------------------Distribution slut --------------------------- */
/* --------------------Brug sektion start --------------------------- */
.brug-sektion {
    width: 100%;
    height: 600px;
    background-color: aqua;

}
/* --------------------footer start --------------------------- */
footer {
    width: 100%;
    height: 400px;
    background-color: #afcfd0;
    padding: 80px 100px 0px 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footercol {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    
}

.footer-title {
    color: #eaeaea;
    padding-bottom: 20px;
}

.footercol a {
    text-decoration: none;
    color: white;
}